body {
    background-color: #f2a126;
    display: flex;
    min-height: 100vh;
    flex-flow: column;
}
header{
    order: 0;
}
main {
    order: 0;
    min-height: 65vh;
}
footer {
    display: flex;
    /* position: absolute; */
    width: 100%;
    justify-content: center;
    order: 1;
}
a {

    color: #000;
}

h1 {
    font-size: 12vh;
}
h2 {
    text-align: left;
    font-size: 15vh;
}

/* class */
.drink-container {
    display: flex;
    flex-flow: column wrap;
    height: 50vh;
    width: 50vh;
    margin: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}

.ingredient-container {
    display: flex;
    flex-flow: column;
    font-size: 100%;
}




/* ids */
#pageTitle {
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: ; */
}
#ingredients {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

#results {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}