body {
    background-color: #f2a126;
    display: flex;
    min-height: 100%;
    flex-flow: column;
}
footer {
    flex: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
h1 {
    font-size: 12vh;
}
h2 {
    text-align: left;
    font-size: 15px;
}


/* class */
.drink-container {
    display: flex;
    flex-flow: column wrap;
    height: 25vh;
    width: 25vh;
    margin: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}

.ingredient-container {
    display: flex;
    flex-flow: column;
    font-size: 50%;
}




/* ids */
#pageTitle {
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: ; */
}
#ingredients {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

#results {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}